{% extends 'base.html.twig' %}

{% block title %}Editer Document{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Editer Document</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_document_index') }}"> 
                    Voir tout les Documents
                </a>
            </div>
            <div class="card-body">
                {% include 'document/_form.html.twig' with {'button_label': 'MAJ Document', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
