{% extends 'base.html.twig' %}

{% block title %}Nouveau Document{% endblock %}

{% block body %}

   <div class="container">
        <h2 class="text-center mt-5 mb-3">Créer un nouveau Document</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_document_index') }}"> 
                    Voir tout les Documents
                </a>
            </div>
            <div class="card-body">
                 {{ include('document/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
