{% extends 'base.html.twig' %}

{% block title %}Edit Stage{% endblock %}

{% block body %}
    <h1>Edit Stage</h1>

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit Stage</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_stage_index') }}"> 
                    View All Projects
                </a>
            </div>
            <div class="card-body">
                {% include 'stage/_form.html.twig' with {'button_label': 'MAJ Stage', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
